<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Quick Auth</title>
</head>
<body>
    <div class="container">
        <form action="" method="post" class="form">
            <h1>Welcome to Quick Auth</h1>
            <a href="/signup">
                <div id="signup">
                    Sign Up
                </div>
            </a>
            <a href="/signin">
                <div id="signin">
                    Sign In
                </div>
            </a>
        </form>
    </div>
</body>
</html>