<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Quick Auth</title>
</head>

<body>
    <div class="container">
        <form action="" method="post" class="form">
            <h1>Quick Auth - Sign In</h1>

            <input type="email" name="email" id="" placeholder="Email" class="input">
            <input type="password" name="password" id="" placeholder="Password" class="input">

            <input type="submit" value="Sign In" id="signin" class="input">

            <a href="http://" class="input google__btn" >Continue With Google</a>

            <span id="signup__link">New User ? Sign Up <a href="/signup">Here</a></span>
        </form>
    </div>
</body>

</html>